<div class="container mt-5">
  <div class="section-booking mb-4">
    <div class="detail-info">
      <h2 class="mb-4 row field-detail-name">
        <%= @field.name %> <br />
        <span class="rating-star"></span>
      </h2>
      <div class="row">
        <div class="col-md-3 description-field des-booking-text">
          <p>
            <strong><%= t ".rating" %></strong><span><%= @average_rating %></span> <%= Settings.rate %>
          </p>
          <p>
            <strong><%= t ".price" %></strong><span id="price-per-block"><%= @field.price %></span> <%= t ".unit_currency" %>
          </p>
        </div>
        <div class="col-md-3 description-field des-booking-text">
          <p>
            <strong><%= t ".grass" %></strong><span><%= @field.grass %></span>
          </p>
          <p>
            <strong><%= t ".capacity" %></strong><span><%= @field.capacity %></span> <%= t ".people" %>
          </p>
        </div>
        <div class="col-md-3 description-field des-booking-text">
          <p>
            <strong><%= t ".open_time" %></strong><span id="open-time"><%= @field.open_time.strftime Settings.format_date %></span>
          </p>
          <p>
            <strong><%= t ".close_time" %></strong><span id="close-time"><%= @field.close_time.strftime Settings.format_date %></span>
          </p>
        </div>
        <div class="col-md-3 description-field des-booking-text">
          <p>
            <strong><%= t ".block_time" %></strong><span id="block-time"><%= @field.block_time %></span>
          </p>
          <p>
            <strong><%= t ".address" %></strong><span><%= @field.address %></span>
          </p>
        </div>
      </div>
    </div>
    <div class="detail-img">
      <img src= <%= Settings.example_field_image %> alt="Gravatar" />
    </div>
  </div>
  <div class="section-booking bg-transparent">
    <div class="row">
      <h2 class="mb-4"><%= t ".booking_field" %></h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="booking">
          <div class="card-body">
            <%= form_for @booking_field, url: user_booking_fields_path, local: true, data: { turbo: false } do |f| %>
              <%= render "shared/error_messages", error_object: f.object %>
              <div id="general-booking-alert" class="price-alert">
                <p><%= t ".general_error" %></p>
              </div>
              <div class="form-group">
                <%= f.label :date, t(".booking_infor.date") %>
                <%= f.date_field :date, value: params[:date], class: "form-control", id: "user-date-booking" %>
              </div>
              <div class="form-group mt-3">
                <label for="blocks"><%= t ".booking_infor.blocks", hour: @field.block_time %></label>
                <input type="number" name="booking[blocks]" class="form-control" id="blocks" />
              </div>
              <div class="form-group mt-3">
                <%= f.label :start_time, t(".booking_infor.start_time") %>
                <%= f.time_field :start_time, value: params[:start_time], class: "form-control", id: "start_time" %>
              </div>
              <div class="f-group mt-3">
                <%= f.label :end_time, t(".booking_infor.end_time") %>
                <%= f.time_field :end_time, value: params[:end_time], class: "form-control", readonly: true, id: "end_time" %>
              </div>
              <div class="f-group mt-3">
                <%= f.label :total, t(".booking_infor.total_price") %>
                <%= f.number_field :total, value: params[:total], class: "form-control", readonly: true, id: "total_price" %>
              </div>
              <div id="price-alert" class="price-alert">
                <p><%= t ".total_error" %></p>
              </div>
              <%= f.hidden_field :field_id, value: @field.id %>
              <div class="text-center mt-4">
                <%= f.submit t(".booking_infor.booking"), class: "btn btn-success btn-block ", id: "submit_button_booking" %>
              </div>
              <div class="vouchers-show-area">
                <h3> <%= t ".available_voucher" %></h3>
                <div id="showModal" class="btn btn-success mb-3"><%= t ".action" %></div>
              </div>
              <div id="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <%= render @vouchers %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <div class="text-center">
          </div>
          <%= user_render_field_status_calendar @field, @date %>
        </div>
      </div>
    </div>
  </div>
</div>
