<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>

<%= render "filter_index" %>

<div class="charts">
  <div class="row">
    <div>
      <%= t ".revenue" %>
      <strong class="ml-2 font-semibold text-lg">
        <%= @filtered_bookings.sum(:total).round(Settings.chartkick.round) %>
      </strong>
      <strong class="ml-2 font-semibold text-lg">
        <%= t ".currency" %>
      </strong>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= line_chart @revenue_data, 
                    title: t(".revenue_over_time"), 
                    xtitle: t(".title_x_date"), 
                    ytitle: t(".title_y_revenue"),
                    empty: t(".no_appropiate_result")
      %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6">
      <%= pie_chart @revenue_by_capacity,
                    title: t(".revenue_by_capacity"),
                    height: "300px",
                    empty: t(".no_appropiate_result"),
                    donut: true,
                    label: true
      %>
    </div>
    <div class="col-md-6">
      <%= pie_chart @revenue_by_grass, 
                    title: t(".revenue_by_grass"),
                    height: "300px",
                    empty: t(".no_appropiate_result"),
                    donut: true,
                    label: true 
      %>
    </div>
  </div>
</div>
