<div class="col-md-4 ">
  <div class="card h-100 shadow-sm border-0">
    <%= image_tag field.images.first, class: "card-img-top fixed-img" if field.images.attached? %>
    <div class="card-body">
      <h5 class="card-title text-primary"><%= field.name %></h5>
      <p class="card-text">
        <strong><%= t ".field_detail.rating" %></strong><%= field.average_rating.present? ? field.average_rating.round(1) : t(".no_rating_yet") %><br />
        <strong><%= t ".field_detail.price" %></strong><%= number_to_currency(field.price, unit: t(".currency")) %><br />
        <strong><%= t ".field_detail.grass" %></strong><%= field.grass %><br/>
        <strong><%= t ".field_detail.address" %></strong><%= field.address %>
      </p>
    </div>

    <div class="card-footer bg-transparent border-0 text-center">
    <%= link_to t(".field_detail.view_detail") , field_path(field), class: "btn btn-success view-detail-btn w-100" %>
    </div>
  </div>
</div>
