<div class="container mt-4">
  <h1 class="mb-4"><%= t ".soccer_field_title" %></h1>
  <%= search_form_for @q, url: fields_path, method: :post, local: true do |f| %>
    <div class="row g-3 filter-margin">
      <div class="col-md-12">
        <%= f.label :name_cont, t(".search_by_name") %>
        <%= f.text_field :name_cont, class: "form-control", placeholder: t(".enter_field_name") %>
      </div>
    </div>
    <div class="row g-3 filter-margin">
      <div class="col-md-3">
        <%= f.label :price_gteq, t(".price.price_placeholder") %>
        <%= f.select :s, options_for_select([
                              [t(".price.all"), ""],
                              [t(".price.desc"), "price desc"],
                              [t(".price.asc"), "price asc"]],
                              ), class: "form-control" %>
      </div>

      <div class="col-md-3">
        <%= f.label :grass_eq, t(".grass.grass_type") %>
        <%= f.select :grass_eq, options_for_select([
                              [t(".grass.all"), ""],
                              [t(".grass.natural"), 0],
                              [t(".grass.artificial"), 1]],
                              ), class: "form-control" %>
      </div>

      <div class="col-md-3">
        <%= f.label :capacity_eq, t(".capacity.capacity_type") %>
        <%= f.select :capacity_eq, options_for_select([
                              [t(".capacity.all"), ""],
                              [t(".capacity.five"), 5],
                              [t(".capacity.seven"), 7],
                              [t(".capacity.eleven"), 11]],
                              ), class: "form-control" %>
      </div>

      <div class="col-md-3">
        <%= f.label :average_rating_gteq, t(".rating.rating_placeholder") %>
        <%= f.select :s, options_for_select([
                            [t(".rating.all"), ""],
                            [t(".rating.desc"), "average_rating desc"],
                            [t(".rating.asc"), "average_rating asc"]],
                            ), class: "form-control" %>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-md-12">
        <%= submit_tag t(".submit_button"), class: "btn btn-success filter-fields-button" %>
        <%= render_create_field_button %>
      </div>
    </div>
  <% end %>

  <%== pagy_bootstrap_nav @pagy %>
  <div class="row g-4 list-field">
    <%= render @fields %>
  </div>
</div>
