<div class="footer bg-dark text-white mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5><%= t ".about_us" %></h5>
        <p><%= t ".about_us_text" %></p>
      </div>
      <div class="col-md-4">
        <h5><%= t ".contact" %></h5>
        <ul class="list-unstyled">
          <li><%= t ".email" %></li>
          <li><%= t ".phone" %></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5><%= t ".follow_us" %></h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white"><%= t ".facebook" %></a></li>
          <li><a href="#" class="text-white"><%= t ".twitter" %></a></li>
          <li><a href="#" class="text-white"><%= t ".instagram" %></a></li>
        </ul>
      </div>
    </div>
    <div class="text-center mt-4">
      <p>&copy <%= t ".copyright" %></p>
    </div>
  </div>
</div>
